################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/packages
/SQLServerTransactParserTests/bin/Debug
/SQLServerTransactParserTests/obj/Debug
/SyntaxJSONParser/bin/Debug/netstandard2.0
/SyntaxJSONParser/obj
/SyntaxJSONParser.Tests/bin/Debug
/SyntaxJSONParser.Tests/obj/Debug
/Tests/CSharpParserTests/bin/Debug
/Tests/CSharpParserTests/obj/Debug
